<poke-search (eventSearch)="getSearch($event)"></poke-search>

<section class="list">
    <ng-template ngFor let-pokemon [ngForOf]="pokemonsList">
        <a [routerLink]="['details', pokemon.status.id]" class="pokemon" *ngIf="pokemon.status">
            <section class="pokemon__status">
                <h2>
                    {{pokemon.name}}
                </h2>
                <ul>
                    <li *ngFor="let value of pokemon.status.types">
                        {{ value.type.name }}
                    </li>
                </ul>
            </section>

            <section class="pokemon__image">
                <img [src]="pokemon.status.sprites.other.dream_world.front_default" [alt]="pokemon.name">
            </section>
        </a>
    </ng-template>

    <button
    (click)="paginatorBackPokemon()"
    class="btn btn-secondary" [disabled]="number === 0"
    *ngIf="!search">Anterior</button>

    <button
    (click)="paginatorNextPokemon()"
    class="btn btn-secondary"
    [disabled]="number === 1279"
    *ngIf="!search"
    >Próximo</button>

    <img *ngIf="error" src="../../../assets/error.png" alt="Erro no carregamento da página" width="100%">
</section>